node_modules
dist
.tmp
.sass-cache
bower_components
*.checkstyle
*activemq-data
*gwt-unitCache
*.log
*.tlog
*.gwt-log
*coverage.ec
*gwt-unitCache
*/*/*/*/*/WEB-INF/lib
*/*/*/*/WEB-INF/lib
*/*/*/*/*/WEB-INF/deploy
*/*/*/*/WEB-INF/deploy
*/*/*/*/*/WEB-INF/classes
*/*/*/*/WEB-INF/classes
classes/

# Ignore artifacts
bin/
buildSrc/
build/
target/

# Ignore Eclipse
.project
.settings
version.info
.classpath

rebel.xml

### Ignore Jetbrains IDEA files
# all *.iml files
*.iml
*s101*
*.ipr
*.iws
# all folders with .idea
.idea
# all .pmd files
*.pmd
infinitest*
/out

### Ignore Gradle files
.gradle
.gradle/
gradle-app.setting
*.metadata*
.java-version
