<div ng-controller="TracksController as tracksController">
	<h3>Choose your destiny:</h3>

	<div class="btn-group-vertical">
		<ul ng-repeat="track in tracks">
			<li>
				<button type="button" class="btn btn-default" ng-click="tracksController.startNewChallenge(track.code)">{{track.title}}</button>
			</li>
		</ul>
	</div>

	<!--<ul ng-repeat="track in tracks">-->
	<!--<li data-toggle="tooltip" data-placement="right" title="{{track.description}}" ng-click="startNewChallenge(track.code)">-->
	<!--{{track.title}}-->
	<!--</li>-->
	<!--</ul>-->
</div>

